:host {
  height: var(--app-bar-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--app-bar-color);
}

h1 {
  margin: 0;
  padding: 0;
}

.leading img {
  width: 45px;
  height: 45px;
}