<div class="board-container elevation">
  <div *ngFor="let square of board.squares"
    class="board-celd"
    [ngClass]="{
      'white-celd': (square.row + square.col) % 2 === 0,
      'green-celd': (square.row + square.col) % 2 !== 0 ,
      'selected-square': square === selectedSquare
    }"
    [style.backgroundImage]="square.type === undefined ? '' : 'url(/assets/' + square.color + '-' + square.type + '.png)'"
    [style.cursor]="square.type !== undefined && square.color === board.turn ? 'pointer' : ''"
    (click)="onSquareClick(square)"
  >
  </div>
</div>