<div class="turn-container">
  <div class="turn elevation" [ngClass]="board.turn + '-turn'"></div>
</div>
<div class="board-container elevation">
  <div *ngFor="let square of board.squares"
    class="board-celd"
    [ngClass]="{
      'white-celd': (square.row + square.col) % 2 === 0,
      'green-celd': (square.row + square.col) % 2 !== 0,
      'remarqued-square-white': (square === selectedSquare || board.lastMove?.from === square || board.lastMove?.to === square) && (square.row + square.col) % 2 === 0,
      'remarqued-square-green': (square === selectedSquare || board.lastMove?.from === square || board.lastMove?.to === square) && (square.row + square.col) % 2 !== 0,
      'empty-target': posibleTargets.includes(square) && square.color === undefined && square.type === undefined,
      'target': posibleTargets.includes(square) && square.type !== undefined && square.color !== undefined
    }"
    [style.backgroundImage]="square | squareBackgroundImage"
    [style.cursor]="square.type !== undefined && square.color === board.turn ? 'pointer' : ''"
    (click)="onSquareClick(square)"
  >
    <p *ngIf="square.col === 0" class="info row-info">{{square.row + 1}}</p>
    <p *ngIf="square.row === 7" class="info col-info">{{letters[square.col]}}</p>
  </div>
</div>