:host {
  margin-top: var(--app-bar-height);
  height: calc(100vh - var(--app-bar-height));
  display: grid;
  gap: 10px;
  place-content: center;
  background-color: var(--background-color);
}

.turn-container {
  display: grid;
  place-content: center;
}

.turn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: background-color .2s;
}

.white-turn {background-color: white;}
.black-turn {background-color: black;}

.board-container {
  display: grid;
  grid-template-columns: repeat(8, var(--celd-size));
}

.board-celd {
  height: var(--celd-size);
  font-weight: bold;
  display: grid;
  place-content: center;
  background-size: calc(var(--celd-size) - 5px);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.info {
  position: absolute;
  font-size: 13px;
}

.row-info {
  top: -1px;
  left: 1px;
}

.col-info {
  bottom: -1px;
  right: 1px;
}

.white-celd {
  background-color: #EEEED2;
  p { color: #769656; }
}

.green-celd {
  background-color: #769656;
  p { color: #EEEED2; }
}

.remarqued-square-white {
  background-color: #F6F669;
}

.remarqued-square-green {
  background-color: #BACA2B;
}

.empty-target:before {
  width: 10px;
  height: 10px;
  background-color: rgba(0,0,0,.1);
  content: '';
  border-radius: 50%;
}

.target:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 5px solid rgba(0,0,0,.1);
  content: '';
  border-radius: 50%;
}